
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrap">
    <div class="main-content full-width no-borders bespoke custom-page ">
        <h1>
            Highlights This Month
        </h1>
        <div class="block-wrap   no-heading">
            <div class="block ">
                <div class="tab-wrap module type-paragraph grid tab-3583 tab-active">

                    <div class="tab">
                        <div class="paragraph-content">
                            <a><img src="~/Content/images/new-releases-1035x208-button.png" /></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="block-wrap   no-heading">
            <div class="block ">
                <div class="tab-wrap module type-paragraph grid tab-3641 tab-active">

                    <div class="tab">
                        <div class="paragraph-content">
                            <a><img src="~/Content/images/bookmark-new-1035x208.jpg" width="1035" height="208" alt="New Bookmarks"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">

        </script><div class="block-wrap   no-heading">
            <div class="block ">
                <div class="tab-wrap module type-paragraph grid tab-4893 tab-active">

                    <div class="tab">
                        <div class="paragraph-content">
                            <a><img src="~/Content/images/children age range homepage v2.jpg" width="1390" height="279" alt="Children's Age Ranges"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="block-wrap   no-heading">
            <div class="block ">
                <div class="tab-wrap module type-paragraph grid tab-3639 tab-active">

                    <div class="tab">
                        <div class="paragraph-content">
                            <a><img src="~/Content/images/Top-Picks-for-2017-with-CTA-1035x208.gif" width="1035" height="208" alt="Top Books for 2017"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="block-wrap none  no-heading">
            <div class="block ">
                <div class="tab-wrap module type-paragraph grid tab-5509 tab-active">

                    <div class="tab">
                        <div class="paragraph-content">
                            <a><img src="~/Content/images/Scholastic_LEGO-1035x208.jpeg"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="block-wrap none  no-heading">
            <div class="block ">
                <div class="tab-wrap module type-promo grid tab-3588 tab-active">

                    <div class="tab">
                        <div class="promo-content">
                            <a title="Murdoch Cookery" class="promo-link">
                                <img src="~/Content/images/Murdoch-1035x208.jpg" />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>