
@{
    ViewBag.Title = "HomePageContent";
    Layout = "~/Views/Home/HomePage.cshtml";
}
@*<div class="block-wrap">
        <div class="block-header">
            <h2>News Release Books</h2>
        </div>
        <div class="block">
            <div class="carousel-wrap carousel-begin  carousel-active">
                <div class="tab-wrap module type-book carousel tab-373 tab-active carousel-active">
                    <div class="tab">
                        @Html.Action("getListBookByCategory", "Book", new { @chudema = 3 })
                    </div>
                </div>
            </div>
        </div>
    </div>*@




